<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">View User</li>
  </ol>
</nav>

<div class="view-user p-5">

    {{#each rows}}
    <div class="row mb-5">
        <div class="col text-center">
            <h3>{{this.usersFN}} {{this.usersLN}}</h3>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">First Name</th>
                        <th scope="col">Last Name</th>
                        <th scope="col">Email</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">{{this.usersId}}</th>
                        <td>{{this.usersFN}}</td>
                        <td>{{this.usersLN}}</td>
                        <td>{{this.usersEmail}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    {{/each}}

</div>